@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  html,
  body {
    font-family: 'Inter', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    @apply m-0;
    min-width: 320px;
    overflow-x: hidden;
  }

  a {
    @apply text-text-link;
  }
}

:root {
  --color-primary-100: #e6ffed;
  --color-primary-200: #60c7a3;
  --color-primary-300: #22863a;
  --color-danger-100: #ffeef0;
  --color-danger-200: #d73a49;
  --color-danger-300: #8d1d27;
  --color-neutral-100: #f6f8fa;
  --color-neutral-200: #b0b0b0;
  --color-neutral-300: #586069;
  --color-neutral-400: #242831;
  --color-neutral-500: #1d2025;
  --color-info-100: #ddefff;
  --color-info-300: #005cc5;
}

@theme {
  /* background */
  --color-primary-bg: var(--color-neutral-400);
  --color-secondary-bg: var(--color-neutral-500);
  --color-add-bg: var(--color-neutral-500);

  /* text */
  --color-text-primary: var(--color-neutral-100);
  --color-text-secondary: var(--color-neutral-200);
  --color-text-add: var(--color-primary-300);
  --color-text-remove: var(--color-danger-300);
  --color-text-link: var(--color-info-300);

  /* border */
  --color-border-default: var(--color-neutral-300);
  --color-border-active: var(--color-info-300);

  /* toast */
  --color-highlight-add: var(--color-primary-300);

  /* others */
  --color-diff-add: var(--color-primary-300);
  --color-highlight-add: var(--color-primary-300);
  --color-diff-remove: var(--color-danger-300);
  --color-highlight-remove: var(--color-danger-300);
  --color-badge: var(--color-danger-300);
  --color-line-range: var(--color-info-300);

  /* toast */
  --color-toast-success: var(--color-primary-300);
  --color-toast-danger: var(--color-danger-300);
}

/* 
 * @NOTE we can implement dark mode or color blind mode later if we use css token base like this
 */
/* .dark {
  --color-primary-bg: var(--color-neutral-100);
} */

/* .blind {
  --color-diff-add-text: var(--color-info-300);
} */
