@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  html {
    font-family: 'Inter', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }

  strong {
    font-weight: bold;
  }

  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }
}

:root {
  --color-primary-100: #e6ffed;
  --color-primary-200: #60c7qk;
  --color-primary-300: #22863a;
  --color-danger-100: #ffeef0;
  --color-danger-200: #d73a49;
  --color-danger-300: #cb2431;
  --color-neutral-100: #f6f8fa;
  --color-neutral-200: #d2d5da;
  --color-neutral-300: #586069;
  --color-info-100: #ddefff;
  --color-info-200: #0366d6;
  --color-info-300: #005cc5;
}

@theme {
  --color-diff-add-bg: var(--color-primary-100);
  --color-diff-add-border: var(--color-primary-200);
  --color-diff-add-text: var(--color-primary-300);
  --color-diff-remove-bg: var(--color-danger-100);
  --color-diff-remove-border: var(--color-danger-200);
  --color-diff-remove-text: var(--color-danger-300);
  --color-diff-neutral-bg: var(--color-neutral-100);
  --color-diff-neutral-border: var(--color-neutral-200);
  --color-diff-neutral-text: var(--color-neutral-300);
  --color-diff-info-bg: var(--color-info-100);
  --color-diff-info-border: var(--color-info-200);
  --color-diff-info-text: var(--color-info-300);
}

/* 
 * @NOTE we can implement dark mode or color blind mode later if we use css token base
 */
/* .dark {
  --color-diff-neutral-bg: var(--color-neutral-300);
} */

/* .blind {
  --color-diff-add-text: var(--color-info-300);
} */
